= form_tag(credit_card_customer_path, :method => :put , :id => "credit-card-form") do
  %fieldset
    %legend Credit Card Details 
  .optional.text.clearfix#credit_card_number
    = label_tag      "credit_card[number]", 'Number' 
    = text_field_tag "credit_card[number]" 

  .optional.text.clearfix#credit_card_month
    = label_tag      "credit_card[month]",  "Month"
    = text_field_tag "credit_card[month]"

  .optional.text.clearfix#credit_card_year
    = label_tag      "credit_card[year]",   "Year"
    = text_field_tag "credit_card[year]" 

  .actions
    = submit_tag     "Confirm"
