%h1 Listing customers

%table
  %tr
    %th Email
    %th Description
    %th Subscription
    %th
    %th
    %th

  - @customers.each do |customer|
    %tr{ id: "customer-#{customer.id}" }
      %td= customer.email
      %td= customer.description
      %td= subscription_name_when_available(customer)
      %td= link_to 'Show', customer
      %td= link_to 'Edit', edit_customer_path(customer)
      %td= link_to 'Destroy', customer, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Customer', new_customer_path
