%p#notice= notice
#customer
  %p
    %b Email:
    = @customer.email
  %p
    %b Description:
    = @customer.description
  %p
    %b subscription:
    = @customer.subscription.name if @customer.subscription.present? 

  %h2 Billing information

  -if @customer.credit_card_number.present?  
    %p
      %b Credit Card Number:
      = @customer.credit_card_number 

    %p
      %b Credit Card Expiration Date:
      = @customer.expiration_date 
  - else
    %p There is no credit card information assigned to this customer yet 
  - 


= link_to 'Edit', edit_customer_path(@customer)
\|
= link_to 'Back', customers_path
