<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <%= wicked_pdf_stylesheet_link_tag "jackpot/pdf" -%>
  </head>
  <body>
    <div id="content">
      <h1>Payment receipt</h1> 
      <p>
        Account billed: <%= @payment.customer.email %>
      </p>

      <table id="payment-information" class="table table-striped">
        <thead>
          <th>Date</th>
          <th>Subscription Plan</th>
          <th>Price</th>
        </thead>
        <tbody>
          <td><%= @payment.created_at %></td>
          <td><%= @payment.subscription.name %></td>
          <td><%= number_to_currency @payment.amount %></td>
        </tbody>
      </table>
      <hr>
      <p>
        The payment was successfully processed 
      </p>
    </div>
  </body>
</html>
