= semantic_form_for @subscription do |f|
  = f.semantic_errors
  
  = f.inputs do 
    = f.input :name  
    = f.input :price 

  = f.buttons do
    = f.commit_button :button_html => {:class => "primary"} 
