%h1 Listing subscriptions

%table
  %thead 
    %tr
      %th Name
      %th Price
      %th
      %th
      %th

  %tbody
    - @subscriptions.each do |subscription|
      %tr
        %td= subscription.name
        %td= subscription.price
        %td= link_to 'Show',    subscription
        %td= link_to 'Edit',    edit_subscription_path(subscription)
        %td= link_to 'Destroy', subscription, :confirm => 'Are you sure?', 
                                  :method => :delete

%br

= link_to 'New Subscription', new_subscription_path
